/* Structure ****************************************************/
    div#sb_ui_container
    {
        margin: 0 auto;
        padding: 0px;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }
    div#sb_ui_left_panel
    {
        position:relative;
        height: 98%;
        padding: 6px;
        z-index:5;
        margin-right: 484px;
        pointer-events: none;
    }
    div#sb_ui_right_panel
    {
        position:relative;
        width: 472px;
        height: 98%;
        float: right;
        padding: 6px;
        z-index:5;
        overflow-x: hidden;
        overflow-y: auto;
        pointer-events: none;
    }
    div#sb_left_buttons_wrapper
    {
        bottom: 0px;
        position: absolute;
        z-index: 15;
    }




/* UI - Scene Information Panel *************************************************************************************************************/
    div#sb_overview
    {
        width: 460px;
        color: #ffffff;
        border: #ffffff solid 1px;
        padding: 4px;
        font-family: Verdana, sans serif;
        font-size: 12px;
        background: #202020;
        pointer-events: auto;
    }
    div#sb_overview h1
    {
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        margin: 0px 0px 6px 0px;
        width: 374px;
    }
    div#sb_overview .scene
    {
        padding: 4px 4px 4px 4px;
        margin: 0px 0px 6px 0px;
        height: 62px;
    }
    div#sb_overview .scene .controls
    {
        height: 0px;
        position: absolute;
        background-color: green;
    }
    div#sb_overview .scene .controls button
    {
        cursor: pointer;
        left: 372px;
        position: relative;
        width: 78px;
        display: block;
        margin-bottom: 3px;
    }
    div#sb_overview .scene .controls .lower_button
    {
        float: right;
        left: 204px;
        margin-left: 4px;
        margin-top: 4px;
    }
    div#sb_overview .fragment
    {
        padding: 8px 4px 4px 4px;
        margin: 6px 0px;
        border-top: 2px solid #ffffff;
    }
    div#sb_overview .fragment .controls
    {
        height: 0px;
        position: absolute;
        background-color: green;
    }
    div#sb_overview .fragment .controls button
    {
        cursor: pointer;
        left: 372px;
        position: relative;
        width: 78px;
        display: block;
        margin-bottom: 3px;
    }
    div#sb_overview .fragment .toggle_button
    {
        width: 438px;
        margin-top: 8px;
        padding: 4px 6px 2px 6px;
        box-sizing: content-box;

        background-color: #404040;
        text-align: center;
        color: white;
    }
    div#sb_overview .fragment .object_box
    {
        width: 438px;
        border: 1px solid #ffffff;
        padding: 6px;
        margin: 8px 0px 0px 0px;
    }
    div#sb_overview .fragment .object_box legend
    {
        text-align: right;
        text-decoration: underline;
        cursor: pointer;
        padding: 0px 6px;
    }
    div#sb_overview .fragment .object_box .hidden_message
    {
        display: block;
        text-align: center;
        background-color: #300000;
        padding: 4px;
    }
    div.sb_overview_member_line          { margin: 2px 0px; }
    div.sb_overview_member_line.even     { background-color: rgba(255,255,255,0.2); }
    div.sb_overview_member_line.odd      { background-color: rgba(255,255,255,0.1); }
    div.sb_overview_member_line.selected { background-color: rgba(128,192,255,0.5); }
    div.sb_overview_member_line div
    {
        display: inline-block;
    }
    div.sb_overview_member_line div.label
    {
        width: 372px;
        cursor: pointer;
    }
    div.sb_overview_member_line div.in_scene
    {
        color: #80ff80;
    }
    div.sb_overview_member_line div.not_in_scene
    {
        color: #ff8080;
    }
    div.sb_overview_member_line div.missing
    {
        color: #808080;
    }
    div.sb_overview_member_line div.button
    {
        width: 60px;
        padding: 1px;
        border: 1px solid #ffffff;

        font-size: 10px;
        color: #ffffff;

        text-align: center;
        cursor: pointer;
    }
    div.sb_overview_member_line div.button.hide
    {
        background-color: green;
    }
    div.sb_overview_member_line div.button.show
    {
        background-color: red;
    }




/* UI - Object Info panel *****************************************************/
    div#sb_object_info
    {
        margin: 0px;
        padding: 4px;
        background: #202020;
        border: #ffffff solid 1px;
        display: none;

        color: #ffffff;
        font-family: Verdana, sans serif;
        font-size: 12px;

        pointer-events: auto;
    }
    div#sb_object_info div.name
    {
        font-size: 16px;
    }
    div#sb_object_info div.floating_button
    {
        background-color: rgba(255,255,255,0.2);
        border: 1px solid rgba(255,255,255,0.6);
        float: right;
        margin: 2px;
        padding: 4px;
        color: #ffffff;
        cursor: pointer;
    }
    div#sb_object_info div.controls div.label
    {
        display:inline-block;
        width:70px;
        margin: 0px 4px;
        text-align: center;
    }
    div#sb_object_info div.controls div.control
    {
        display:inline-block;
        width:70px;
        margin: 0px 4px;
    }



/* UI - Popups ****************************************************************/
    div#sb_popup_wrap
    {
        height: 0px;
    }
    div#sb_popup
    {
        display: none;
        margin: auto;
        position: relative;
        top: 100px;
        padding: 8px;
        background: #202020;
        color: #ffffff;
        width: 482px;
        border: 1px solid #ffffff;
        pointer-events: auto;
        font-family: Verdana, sans serif;
        font-size: 12px;
    }
    div#sb_popup h1
    {
        margin: 4px 0px 12px 0px
    }




/* UI - Forms *****************************************************************/
    ul.ui-autocomplete
    {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 400px;
        z-index: 10;
        width: 400px;
        font-size: 12px;
    }
    div#sb_popup label
    {
        vertical-align: top;
        width: 120px;
        display: inline-block;
        margin: 4px 0px;
        padding: 2px;
    }
    div#sb_popup input
    {
        vertical-align: top;
        line-height: 18px;
        margin: 4px 2px;
        display: inline-block;
        width: 350px;
    }
    div#sb_popup select
    {
        vertical-align: top;
        line-height: 18px;
        margin: 4px 2px;
        display: inline-block;
        width: 354px;
        height: 24px;
        padding: 1px 0px;
        border: 1px solid darkgrey;
    }
    div#sb_popup div.glue_center
    {
        text-align: center;
        background-color: rgba(192,192,192,0.3);
        padding: 4px;
        margin-top: 6px;
    }
    div#sb_popup button
    {
        margin: 2px 4px;
    }
    div#sb_popup div.description
    {
        width: 344px;
        border: 1px solid darkgrey;
        padding: 4px;
        background-color: #404040;
        margin-left: 126px;
    }
    div#sb_popup div#query_params
    {
        margin-top: 6px;
    }
    div#sb_popup div.even
    {
        background-color: rgba(255,255,255,0.2);
    }
    div#sb_popup div.odd
    {
        background-color: rgba(255,255,255,0.1);
    }

/* UI - Forms - List Fragments ***********************************************/
    div#sb_popup div.assets
    {
        margin-top: 6px;
        overflow-y: auto;
        max-height: 600px;
    }
    div#sb_popup div.asset_row input
    {
        vertical-align: top;
        margin: 8px 0px 0px 0px;
        display: inline-block;
        width: 40px;
    }
    div#sb_popup div.asset_row label
    {
        vertical-align: top;
        width: 426px;
        display: inline-block;
        padding: 2px;
    }



/* UI - URL panel ************************************************************/
    div#sb_link_wrap
    {
        width: 100%;
        height: 0px;
    }
    div#sb_link
    {
        position: relative;
        top: 40px;
        margin: 0 auto;
        width: 600px;
        z-index: 10;
        pointer-events: auto;

        background-color: #bbb;
        font-size: 12px;
        font-family: Verdana, sans serif;
        line-height: 16px;
        padding: 8px;
        display: none;
        border-radius:12px;
        border: 4px solid #069;
    }
    div#sb_link h1
    {
        font-size: 18px;
        margin: 4px 0px 8px 0px;
    }
    div #sb_link h2
    {
        font-size: 15px;
        margin: 0px;
        margin: 8px 0px 4px;
    }
    div #sb_link textarea
    {
        margin-top: 4px;
        width: 590px;

    }
    div #sb_link span.code
    {
        font-family: Lucida Console, Courier, monospace;
        background-color: #a0a0a0;
        padding: 2px;
        font-size: 11px;
    }
    div#sb_link_button
    {
        width: 112px;
        margin-bottom: 10px;
        margin-left: 10px;
        display: inline-block;

        pointer-events: auto;
        cursor: pointer;
        text-align: center;

        background-color: lightblue;
        border: white 1px solid;
        font-size: 12px;
        padding: 4px;
    }
    div#sb_link_button:hover
    {
        background-color: rgb(122, 205, 232);
    }




/* Working notification */
    div#sb_working
    {
        display: none;
        width: 100%;
        height: 0px;
    }
    div#sb_working div.text
    {
        display: block;
        background-color: limegreen;
        margin: auto;
        position: relative;
        top: 100px;
        padding: 6px;
        width: 400px;
    }
    div#sb_working div.text h3
    {
        margin: 0px 0px 4px 0px;
    }




/* UI - Picking Panel ***************************************************/
    div#sb_selection
    {
        margin: 0px 8px 0px 8px;
        padding: 8px;
        color: #fff;
        font-family: Verdana, sans serif;
        font-size: 16px;
        pointer-events: auto;
        display: none;
    }
    div#sb_selection a
    {
        color:#7070ff;
    }
    div#sb_selection a:visited
    {
        color:#7070ff;
    }
